.button__follow{
    background-color: lightgreen;
}

.avatar{
    height: 80px;
    width: 80px;
}

.selectedPage{
    font-weight: bold;
}

.pagination span{
    cursor: pointer;
    margin-right: 10px;
}